<div class="background-image custom-background">
</div>
<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a href="#">Bienvenido José!</a>
    </div>
    <ul class="navbar-menu">
      <li><a href="#">Ingreso</a></li>
      <li><a href="#">Salida</a></li>
      <li><a href="#">Consulta</a></li>
    </ul>
  </div>
</nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 text-center" (click)="redirectPage(1)">
      <div class="card">
        <img
          src="https://img.freepik.com/vector-gratis/vista-aerea-coche-autonomo-futurista-diseno-plano_23-2147871155.jpg?size=626&ext=jpg&ga=GA1.1.565051578.1706570737&semt=sph"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ingreso</h5>
          <p class="card-text">Registra el ingreso de los vehiculos con su información básica.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center" (click)="redirectPage(2)">
      <div class="card">
        <img
          src="https://img.freepik.com/vector-gratis/ilustracion-concepto-estacionamiento-pago-calle_114360-13334.jpg?size=626&ext=jpg&ga=GA1.2.565051578.1706570737&semt=sph"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Salida</h5>
          <p class="card-text">Registra la salida del vehiculo para el cálculo de la tarifa correspondiente.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center" (click)="redirectPage(3)">
      <div class="card">
        <img
          src="https://img.freepik.com/vector-gratis/estacionamiento_24908-54060.jpg?size=626&ext=jpg&ga=GA1.2.565051578.1706570737&semt=sph"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Consulta</h5>
          <p class="card-text">Consulta salida de vehiculos e información requerida.</p>
        </div>
      </div>
    </div>
  </div>
</div>